body {
  height: 100vh;
  background-color: #000;
  color: #fff;
}
h1,
h2 {
  color: #39ff14;
  text-align: center;
}
h2 {
  padding: 0.4em;
}
.flex {
  display: flex;
}
.flex-space {
  display: flex;
  justify-content: space-between;
}
.container {
  padding: 0.5em;
}
.votingContainer {
  flex-direction: column;
}
.input {
  border: none;
  outline: none;
  color: #fff;
  margin: 1em 0em;
  font-size: 1.2em;
  background: transparent;
  border-bottom: 0.1em solid #fff;
}
.options {
  margin-top: 1em;
  height: 2em;
}
.submit {
  outline: none;
  border: none;
  height: 2em;
  border-radius: 0.4em;
  font-size: 1.2em;
  color: #fff;
  background-color: #006400;
  margin-top: 1.5em;
}
.display {
  background-color: #212121;
  padding-bottom: 2em;
}
.displayContainer {
  width: 85%;
  margin: 0 auto;
  padding-bottom: 1em;
}
.votingContainer {
  padding: 1em;
}
.Leaderboard,
.votingContainer {
  background-color: #212121;
}
.displayLeaderContainer {
  width: 100%;
  margin: 0 0.5em;
}
.votehead {
  color: #39ff14;
}
.leadertd,
.leadernametd {
  text-align: left;
  width: 4%;
  /* border: 1px solid #fff; */
  white-space: nowrap;
}
.leadernametd {
  width: 80%;
}
tr,
td {
  text-align: center;
}
/*Desktop Code*/
@media only screen and (min-width: 800px) {
  .subContainer {
    display: flex;
    justify-content: space-between;
  }
  .votingContainer,
  .Leaderboard {
    width: 48%;
  }
}
